<html>
    <head>
        {% if title %}
        <title>{{ title }} - LearningFlask</title>
        {% else %}
        <title>LearningFlask</title>
        {% endif %}
    </head>
    <body>
        <div>
            LearningFlask:
            <a href="/index">Index</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
